<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-12 sm:gap-16">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">🚧 Coming Soon</h2>
      <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
        I'm working hard to update the new website with lots more detail and helpful information.
        Thanks for your patience!
      </p>
    </div>
  </div>
</section>
